h1, h2 {
  font-family: "Poppins", sans-serif;
  font-size: 44px;
  text-transform: uppercase; }

h3, h4, h5, h6, p, a, span {
  font-family: "Poppins", sans-serif; }

h2, h3, p {
  color: #4d4d4d; }

.btn-novo-one, .btn-novo-two, .btn-novo-three {
  min-width: 200px;
  font-size: 18px;
  padding: .5rem 1.5rem;
  text-transform: uppercase;
  transition: .5s; }
  .btn-novo-one:hover, .btn-novo-two:hover, .btn-novo-three:hover {
    text-decoration: none;
    color: #fff; }

.btn-novo-one {
  background: #8fb52b;
  color: #fff; }
  .btn-novo-one:hover {
    background: #58641D; }

.btn-novo-two {
  border: 1px solid #8fb52b;
  color: #8fb52b; }
  .btn-novo-two:hover {
    background: #8fb52b; }

.btn-novo-three {
  border: 1px solid #4d4d4d;
  color: #4d4d4d; }
  .btn-novo-three:hover {
    background: #8fb52b; }

.line-separator {
  max-width: 550px;
  min-height: 19.03px;
  margin-bottom: 1rem; }

nav {
  transition: .5s; }
  nav.navbar {
    padding: 3rem 8rem; }
  nav .navbar-brand img {
    width: 150px; }
  nav .navbar-toggler {
    color: #fff;
    font-size: 30px; }
  nav .navbar-nav .nav-item {
    padding: .5rem .8rem;
    display: flex;
    align-items: center; }
    nav .navbar-nav .nav-item .nav-link {
      color: #fff;
      text-transform: uppercase;
      position: relative; }
      nav .navbar-nav .nav-item .nav-link.ln-link:before {
        content: '';
        width: 0%;
        height: 2px;
        background: #fff;
        position: absolute;
        top: 100%;
        left: 0;
        transition: .5s; }
      nav .navbar-nav .nav-item .nav-link.ln-link:hover:before {
        width: 100%; }
    nav .navbar-nav .nav-item.active {
      font-weight: 500; }
    nav .navbar-nav .nav-item.quote {
      position: relative; }
      nav .navbar-nav .nav-item.quote .nav-link {
        background: #8fb52b;
        padding: .8rem .5rem;
        border-radius: 5%;
        transition: .3s; }
        nav .navbar-nav .nav-item.quote .nav-link .link {
          color: #fff;
          text-decoration: none; }
          nav .navbar-nav .nav-item.quote .nav-link .link img {
            width: 20px;
            margin-right: .5rem; }
        nav .navbar-nav .nav-item.quote .nav-link:hover {
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0; }
        nav .navbar-nav .nav-item.quote .nav-link .cot-box {
          position: absolute;
          background: #fff;
          border: 1px solid #8fb52b;
          padding: 1rem;
          top: 100%;
          right: 0%;
          width: 350px;
          display: none;
          opacity: 0;
          transition: all .5s; }
          nav .navbar-nav .nav-item.quote .nav-link .cot-box .table {
            box-sizing: border-box;
            font-size: 14px; }
            nav .navbar-nav .nav-item.quote .nav-link .cot-box .table th {
              border: none;
              border-bottom: 1px solid #000; }
            nav .navbar-nav .nav-item.quote .nav-link .cot-box .table td {
              border: none;
              border-bottom: 1px solid #000;
              vertical-align: middle; }
              nav .navbar-nav .nav-item.quote .nav-link .cot-box .table td img {
                width: 40px;
                height: 40px; }
              nav .navbar-nav .nav-item.quote .nav-link .cot-box .table td .borrar-producto {
                border-radius: 50%;
                border: none;
                background: #C3423F;
                color: #fff; }
                nav .navbar-nav .nav-item.quote .nav-link .cot-box .table td .borrar-producto i {
                  cursor: pointer; }
          nav .navbar-nav .nav-item.quote .nav-link .cot-box .btns-box {
            display: flex;
            flex-direction: column; }
            nav .navbar-nav .nav-item.quote .nav-link .cot-box .btns-box a {
              text-align: center;
              padding: 0.3rem;
              font-size: 16px; }
              nav .navbar-nav .nav-item.quote .nav-link .cot-box .btns-box a.btn-novo-two {
                margin-bottom: .5rem; }
        nav .navbar-nav .nav-item.quote .nav-link .toogle-box {
          opacity: 1;
          transition: all .3s; }
    nav .navbar-nav .nav-item.reciclados .nav-link span {
      font-size: 8px;
      display: block;
      margin-bottom: .2rem; }
    nav .navbar-nav .nav-item.reciclados .nav-link img {
      width: 100px; }

.green-nav {
  background: #8fb52b; }
  .green-nav.navbar {
    padding-top: .5rem;
    padding-bottom: .5rem; }

.nav-green {
  transition: .5s;
  background: #8fb52b; }
  .nav-green.navbar {
    padding-top: .5rem;
    padding-bottom: .5rem; }

.floating-wpp {
  z-index: 10; }

.owl-home .static {
  position: static; }
.owl-home .cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
.owl-home .owl-slide {
  position: relative;
  height: 100vh; }
  .owl-home .owl-slide .container-fluid {
    padding: 12rem 8rem 14rem 8rem; }
.owl-home .owl-slide-animated {
  transform: translateY(20px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.05s; }
  .owl-home .owl-slide-animated.is-transitioned {
    transform: none;
    opacity: 1;
    visibility: visible;
    transition: all 0.5s; }
.owl-home .owl-slide-title {
  color: #8fb52b;
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 2rem; }
  .owl-home .owl-slide-title.is-transitioned {
    transition-delay: 0.2s; }
.owl-home .owl-slide-subtitle {
  color: #fff;
  font-size: 26px;
  line-height: 32px;
  font-weight: 300;
  margin-bottom: 2rem; }
  .owl-home .owl-slide-subtitle span {
    font-weight: 700; }
  .owl-home .owl-slide-subtitle.is-transitioned {
    transition-delay: 0.35s; }
.owl-home .owl-slide-cta.is-transitioned {
  transition-delay: 0.5s; }
.owl-home .owl-dots,
.owl-home .owl-nav {
  position: absolute; }
.owl-home .owl-dots {
  width: 100%;
  height: 20px;
  bottom: 3rem;
  left: 0;
  display: flex;
  justify-content: center; }
  .owl-home .owl-dots .owl-dot {
    margin: 0 .5rem;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #00000077;
    transition: all 0.2s ease; }
    .owl-home .owl-dots .owl-dot.owl-dot:hover, .owl-home .owl-dots .owl-dot.owl-dot.active {
      background: #ffffff; }
.owl-home .owl-nav {
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  margin: 0; }
  .owl-home .owl-nav .owl-prev,
  .owl-home .owl-nav .owl-next {
    position: absolute;
    width: 40px;
    height: 40px; }
    .owl-home .owl-nav .owl-prev img,
    .owl-home .owl-nav .owl-next img {
      width: 100%;
      height: 100%; }
    .owl-home .owl-nav .owl-prev:focus,
    .owl-home .owl-nav .owl-next:focus {
      border: none; }
  .owl-home .owl-nav .owl-prev {
    left: 2rem; }
  .owl-home .owl-nav .owl-next {
    right: 2rem; }

.home-products {
  background: #efefef;
  padding: 8rem 10rem; }
  .home-products h4 {
    color: #4d4d4d;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 30px; }
    .home-products h4 span {
      font-weight: 700;
      color: #8fb52b; }
  .home-products .owl-home-products .item {
    padding: 2rem; }
  .home-products .owl-home-products .owl-dots,
  .home-products .owl-home-products .owl-nav {
    position: absolute; }
  .home-products .owl-home-products .owl-dots {
    width: 100%;
    height: 20px;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center; }
    .home-products .owl-home-products .owl-dots .owl-dot {
      margin: 0 .5rem;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: #33333377;
      transition: all 0.2s ease; }
      .home-products .owl-home-products .owl-dots .owl-dot.owl-dot:hover, .home-products .owl-home-products .owl-dots .owl-dot.owl-dot.active {
        background: #333333; }
  .home-products .owl-home-products .owl-nav {
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    margin: 0; }
    .home-products .owl-home-products .owl-nav .owl-prev,
    .home-products .owl-home-products .owl-nav .owl-next {
      position: absolute;
      width: 40px;
      height: 40px; }
      .home-products .owl-home-products .owl-nav .owl-prev img,
      .home-products .owl-home-products .owl-nav .owl-next img {
        width: 100%;
        height: 100%; }
      .home-products .owl-home-products .owl-nav .owl-prev:focus,
      .home-products .owl-home-products .owl-nav .owl-next:focus {
        border: none; }
    .home-products .owl-home-products .owl-nav .owl-prev {
      left: 1rem; }
    .home-products .owl-home-products .owl-nav .owl-next {
      right: 1rem; }

.contact {
  padding-top: 5rem;
  padding-bottom: 5rem; }
  .contact .title {
    text-align: center; }
    .contact .title h2 {
      font-weight: 400;
      margin-bottom: 2rem; }
  .contact .contact-info {
    padding: 2rem 0; }
    .contact .contact-info .contact-data .contact-title {
      margin-bottom: 1rem;
      color: #8fb52b;
      font-weight: 700;
      font-size: 30px;
      text-transform: uppercase; }
    .contact .contact-info .contact-data .contact-txt {
      margin-bottom: 2rem; }
    .contact .contact-info .contact-data .phone img {
      width: 18px;
      position: absolute; }
    .contact .contact-info .contact-data .phone p {
      padding-left: 2rem; }
    .contact .contact-info .contact-form {
      text-align: center; }
      .contact .contact-info .contact-form input, .contact .contact-info .contact-form textarea {
        border: none;
        background: #f0f0f0;
        padding: 1.5rem 1rem;
        box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3); }
      .contact .contact-info .contact-form ::-webkit-input-placeholder {
        color: #aaaaaa; }
      .contact .contact-info .contact-form :-ms-input-placeholder {
        color: #aaaaaa; }
      .contact .contact-info .contact-form :-moz-placeholder {
        color: #aaaaaa; }
  .contact .location {
    padding: 2rem 0; }
    .contact .location .location-title, .contact .location .location-address {
      display: flex;
      align-items: flex-end; }
      .contact .location .location-title img, .contact .location .location-address img {
        width: 44px;
        margin-right: 1rem; }
      .contact .location .location-title h3, .contact .location .location-address h3 {
        color: #8fb52b;
        font-weight: 700;
        font-size: 30px;
        text-transform: uppercase; }
      .contact .location .location-title h3, .contact .location .location-title p, .contact .location .location-address h3, .contact .location .location-address p {
        margin: 0; }
    .contact .location .location-address {
      justify-content: flex-end; }
    .contact .location .location-map {
      margin-top: 1rem; }
      .contact .location .location-map .map-styles {
        width: 100%; }

.footer-separator {
  z-index: 1;
  width: 100%;
  position: relative;
  top: 1px; }

footer {
  z-index: 2;
  background: #333333;
  text-align: center; }
  footer a, footer p {
    color: #efefef;
    margin: 0; }
  footer .logo-footer,
  footer .footer-menu,
  footer .social,
  footer .email {
    margin-bottom: 3rem; }
  footer .logo-footer {
    width: 180px; }
  footer .footer-menu a {
    margin: 0rem 1rem;
    text-transform: uppercase;
    transition: all .5s; }
    footer .footer-menu a:hover {
      text-decoration: none;
      color: #8fb52b; }
  footer .social {
    display: flex;
    justify-content: center;
    align-items: center; }
    footer .social a {
      position: relative;
      margin: 0rem .5rem;
      display: inline-block; }
      footer .social a .social-icon {
        width: 36px;
        transform: translateY(0);
        transition: all .5s; }
      footer .social a:hover .social-icon {
        transform: translateY(-10px); }
    footer .social .reciclados-footer {
      text-decoration: none; }
      footer .social .reciclados-footer span {
        font-size: 10px;
        margin-bottom: .2rem;
        display: block;
        text-align: left;
        text-transform: uppercase; }
      footer .social .reciclados-footer img {
        width: 80px;
        transform: translateY(0);
        transition: all .5s; }
      footer .social .reciclados-footer:hover {
        color: #efefef; }
        footer .social .reciclados-footer:hover img {
          transform: translateY(-5px); }
  footer .email {
    font-weight: 300; }
    footer .email img {
      width: 32px;
      margin-right: 1rem; }
  footer .eal-copy {
    background: #222222aa;
    padding: 1.2rem 0;
    font-weight: 300; }

.about-us {
  width: 100%;
  height: 100vh;
  background-image: url("../img/about_us/about_header.jpg");
  background: cover;
  padding: 4rem;
  padding-bottom: 0; }
  .about-us .container-fluid {
    width: 100%;
    height: 100%; }
    .about-us .container-fluid .row {
      height: 100%;
      align-items: center; }
      .about-us .container-fluid .row .title {
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        text-align: center;
        text-shadow: 2px 2px 4px #00000066; }
        .about-us .container-fluid .row .title .nosotros {
          font-size: 3.8rem;
          line-height: .2;
          color: #fff;
          font-weight: 700; }
        .about-us .container-fluid .row .title .somos {
          font-size: 6rem;
          line-height: 1.4;
          color: #fff; }
        .about-us .container-fluid .row .title .novo {
          font-size: 7.4rem;
          line-height: .4;
          color: #8fb52b;
          font-weight: 500; }
        .about-us .container-fluid .row .title .eco {
          font-size: 2rem;
          line-height: 2.8;
          color: #8fb52b;
          font-weight: 700; }
      .about-us .container-fluid .row .video {
        display: flex;
        justify-content: center; }
        .about-us .container-fluid .row .video iframe {
          width: 90%;
          min-height: 600px; }

.about-description .row-one, .about-description .row-two {
  background-size: cover; }
  .about-description .row-one .col-green, .about-description .row-two .col-green {
    background: #8fb52b;
    padding: 8rem;
    text-align: center;
    position: relative; }
    .about-description .row-one .col-green p, .about-description .row-two .col-green p {
      font-size: 18px;
      text-align: left;
      color: #fff;
      font-weight: 300;
      line-height: 22px; }
.about-description .row-one {
  background-image: url("../img/about_us/about_1.jpg");
  background-size: cover; }
  .about-description .row-one .col-green .logo-novo {
    width: 280px;
    margin-bottom: 4rem; }
  .about-description .row-one .col-green p a {
    color: #fff;
    font-weight: 500;
    text-decoration: underline #fff; }
  .about-description .row-one .col-green svg {
    position: absolute;
    right: -24%;
    top: 0;
    height: 100%;
    width: 10vw; }
.about-description .row-two {
  background-image: url("../img/about_us/about_2.jpg"); }
  .about-description .row-two .row {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem; }
  .about-description .row-two .col-green img {
    max-width: 50px;
    max-height: 60px; }
  .about-description .row-two .col-green p {
    margin: 0; }
    .about-description .row-two .col-green p span {
      color: #fff;
      font-weight: 500; }
  .about-description .row-two .col-green svg {
    position: absolute;
    left: -24%;
    top: 0;
    height: 100%;
    width: 10vw; }

.allies {
  background: #efefef;
  padding: 6rem; }
  .allies p {
    color: #8fb52b;
    padding-left: 2rem;
    font-size: 32px;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: 500; }

.products-title {
  width: 100%;
  height: 50vh;
  background-image: url("../img/prefa_section.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: center; }
  .products-title .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .products-title .container h1 {
      color: #8fb52b;
      font-weight: 700; }

.products-content {
  padding: 6rem 8rem; }
  .products-content .products-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem; }
    .products-content .products-filter span, .products-content .products-filter a {
      padding: .5rem 1rem;
      margin: 1rem; }
    .products-content .products-filter span {
      color: #333333;
      font-weight: 500; }
    .products-content .products-filter nav > .nav.nav-tabs {
      border: none; }
    .products-content .products-filter nav > div a.nav-item.nav-link {
      border: none;
      color: rgba(77, 77, 77, 0.6);
      text-decoration: none;
      border-radius: 3px; }
      .products-content .products-filter nav > div a.nav-item.nav-link.active {
        background: #8fb52b;
        color: #fff; }
    .products-content .products-filter nav > div a.nav-item.nav-link:hover,
    .products-content .products-filter nav > div a.nav-item.nav-link:focus {
      border: none;
      background: #8fb52b;
      color: #fff;
      transition: all 0.20s linear;
      cursor: pointer; }
  .products-content .products .product-item {
    padding: .5rem;
    transition: all .5s; }
    .products-content .products .product-item .card[data-id="10"] h4 {
      font-size: 14.8px;
      margin-bottom: 2.4rem; }
    .products-content .products .product-item .card {
      text-align: center;
      padding: 1.5rem;
      justify-content: space-between; }
      .products-content .products .product-item .card .product-img {
        width: 100%;
        height: auto; }
      .products-content .products .product-item .card h4 {
        font-weight: 400;
        text-transform: uppercase;
        font-size: 1.2rem;
        color: #333333;
        margin-bottom: 2rem; }
      .products-content .products .product-item .card .buttons {
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .products-content .products .product-item .card .buttons a {
          margin-top: .5rem; }

.product-title {
  width: 100%;
  height: 40vh;
  background: #f0f0f0;
  padding-top: 6rem; }
  .product-title .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .product-title .container h1 {
      color: #4d4d4d;
      font-weight: 300; }

.product-content {
  padding: 6rem;
  color: #4d4d4d;
  display: flex;
  align-items: center; }
  .product-content .description {
    text-align: center; }
    .product-content .description h4, .product-content .description p, .product-content .description ul {
      text-align: left; }
    .product-content .description p, .product-content .description ul {
      font-size: 20px;
      font-weight: 300;
      line-height: 28px; }
    .product-content .description h4 {
      font-size: 40px;
      color: #8fb52b;
      text-transform: uppercase;
      margin-bottom: 2rem; }
    .product-content .description p {
      margin-bottom: 2rem; }
    .product-content .description ul {
      margin-bottom: 3rem; }
      .product-content .description ul li {
        list-style: none;
        margin-bottom: .3rem; }
        .product-content .description ul li span {
          font-weight: 500; }
        .product-content .description ul li::before {
          content: "\2022";
          color: #8fb52b;
          font-weight: bold;
          display: inline-block;
          width: 1em;
          margin-left: -1em; }
  .product-content .product {
    text-align: center; }
    .product-content .product .product-img {
      width: 50%; }
    .product-content .product hr {
      margin-bottom: 1.4rem; }
    .product-content .product .features {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 1rem; }
      .product-content .product .features .feature-item {
        color: #A0A0A0;
        align-self: center;
        padding: .6rem 2rem; }
        .product-content .product .features .feature-item img {
          width: 30px;
          margin-right: 1rem; }
        .product-content .product .features .feature-item:nth-child(2) {
          border-left: 1px solid #A0A0A0;
          border-right: 1px solid #A0A0A0; }
    .product-content .product p {
      text-align: left; }
    .product-content .product .colors {
      text-align: left;
      margin-bottom: 1rem; }
      .product-content .product .colors .color {
        display: inline-block;
        margin-right: .6rem;
        border-radius: 50%;
        width: 30px;
        height: 30px; }
    .product-content .product .note {
      color: #A0A0A0;
      font-size: 16px; }

.tooltip-inner {
  background-color: #228496; }

.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
  border-top-color: #228496; }

.proyects {
  background: #f0f0f0;
  padding: 6rem; }
  .proyects h2 {
    text-align: center;
    font-size: 40px;
    color: #8fb52b;
    font-weight: 300;
    margin-bottom: 2rem; }
  .proyects .owl-proyects {
    position: relative; }
    .proyects .owl-proyects .item {
      text-align: center;
      color: #4d4d4d; }
      .proyects .owl-proyects .item img {
        margin-bottom: 1.5rem; }
      .proyects .owl-proyects .item h6 {
        font-size: 20px;
        text-transform: uppercase;
        margin-bottom: 1rem; }
      .proyects .owl-proyects .item p {
        font-weight: 300; }
    .proyects .owl-proyects .owl-dots {
      position: relative;
      width: 100%;
      height: 20px;
      top: 2rem;
      display: flex;
      justify-content: center; }
      .proyects .owl-proyects .owl-dots .owl-dot {
        margin: 0 .5rem;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #333333aa;
        transition: all 0.2s ease; }
        .proyects .owl-proyects .owl-dots .owl-dot.owl-dot:hover, .proyects .owl-proyects .owl-dots .owl-dot.owl-dot.active {
          background: #333333; }
        .proyects .owl-proyects .owl-dots .owl-dot:focus {
          outline: none; }
    .proyects .owl-proyects .owl-nav {
      width: 100%;
      margin: 0;
      position: absolute;
      top: 30%; }
      .proyects .owl-proyects .owl-nav .owl-prev,
      .proyects .owl-proyects .owl-nav .owl-next {
        position: absolute;
        width: 50px;
        height: 50px;
        background: #ffffffaa; }
        .proyects .owl-proyects .owl-nav .owl-prev img,
        .proyects .owl-proyects .owl-nav .owl-next img {
          width: 35px;
          height: 35px; }
        .proyects .owl-proyects .owl-nav .owl-prev:focus,
        .proyects .owl-proyects .owl-nav .owl-next:focus {
          outline: none; }
      .proyects .owl-proyects .owl-nav .owl-prev {
        left: 0rem; }
      .proyects .owl-proyects .owl-nav .owl-next {
        right: 0rem; }

.cotizador {
  padding-top: 10rem;
  padding-bottom: 3rem; }
  .cotizador .cotizador-title {
    margin-bottom: 2rem; }
    .cotizador .cotizador-title h2 {
      color: #4d4d4d;
      font-weight: 400;
      text-align: center; }
  .cotizador .title-info {
    background: #8fb52b;
    padding: 1rem 0;
    color: #fff;
    font-weight: 600; }
  .cotizador .products .cot-product {
    padding: 3rem 0;
    border-bottom: 1px solid #4d4d4d;
    align-items: center; }
    .cotizador .products .cot-product .cot-img img {
      width: 50%; }
    .cotizador .products .cot-product .cot-name {
      color: #4d4d4d;
      font-weight: 400; }
    .cotizador .products .cot-product .cot-description {
      color: #A0A0A0;
      font-weight: 100; }
    .cotizador .products .cot-product .cot-color .dropdown .dropdown-toggle .btn-colorselector {
      border-radius: 50%;
      width: 25px;
      height: 25px; }
    .cotizador .products .cot-product .cot-color .dropdown .dropdown-toggle:after {
      color: #4d4d4d;
      margin-left: .5rem; }
    .cotizador .products .cot-product .cot-color .dropdown .dropdown-menu li .color-btn {
      border-radius: 50%; }
    .cotizador .products .cot-product .cot-color .dropdown-colorselector > .dropdown-menu > li > .color-btn.selected:after {
      content: '\25CB';
      font-size: 16px;
      left: 1px; }
    .cotizador .products .cot-product .cot-delete {
      display: flex;
      justify-content: center; }
      .cotizador .products .cot-product .cot-delete .borrar-producto {
        border: none;
        width: 35px;
        height: 35px;
        background: #C3423F;
        color: #fff;
        border-radius: 50%;
        text-align: center;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center; }
  .cotizador .products .buttons {
    width: 100%;
    text-align: right;
    margin-top: 2rem; }
    .cotizador .products .buttons button {
      margin: 0 .4rem; }

@media (max-width: 1024px) {
  nav.navbar {
    padding: 2rem; }

  .home-products {
    padding: 4rem 4rem; }
    .home-products h4 {
      font-size: 22px; }
    .home-products .owl-home-products .owl-nav .owl-prev {
      left: 0rem; }
    .home-products .owl-home-products .owl-nav .owl-next {
      right: 0rem; }

  .products-title {
    height: 30vh; }
    .products-title .container h1 {
      margin-top: 4rem; }

  .products-content {
    padding: 2rem; }

  .about-us {
    padding: 2rem;
    padding-bottom: 0; }
    .about-us .container-fluid .row .title {
      padding-top: 6rem; }

  .about-description .row-one .col-green, .about-description .row-two .col-green {
    padding: 3rem; }
  .about-description .row-one .col-green .logo-novo {
    width: 240px;
    margin-bottom: 3rem; }
  .about-description .row-one .col-green svg {
    right: -20%; }
  .about-description .row-two .col-green img {
    max-width: 40px;
    max-height: 50px; }
  .about-description .row-two .col-green svg {
    left: -20%; }

  .product-title {
    height: 25vh; }

  .product-content {
    padding: 4rem; }
    .product-content .description p, .product-content .description ul {
      font-size: 18px; }
    .product-content .description ul {
      padding-left: 1.5rem; }
    .product-content .product .features {
      justify-content: space-between; }
      .product-content .product .features .feature-item {
        padding: .2rem;
        font-size: 14px; }
        .product-content .product .features .feature-item img {
          width: 25px;
          margin-right: .5rem; }
        .product-content .product .features .feature-item:nth-child(2) {
          padding: 0 1rem;
          border-left: 1px solid #A0A0A0;
          border-right: 1px solid #A0A0A0; } }
@media (max-width: 768px) {
  nav.navbar {
    background: #8fb52b; }
  nav .navbar-nav {
    margin-top: 1rem;
    border-top: 1px solid #fff;
    align-items: center; }
    nav .navbar-nav .nav-item .nav-link {
      text-align: right; }
    nav .navbar-nav .nav-item.quote .nav-link img {
      margin: 0 .5rem; }
    nav .navbar-nav .nav-item.quote .nav-link .quantity {
      text-align: center;
      border-radius: 50%;
      padding: .1rem .5rem;
      background: #fff;
      color: #8fb52b; }
    nav .navbar-nav .nav-item.reciclados {
      border-top: 1px solid #fff;
      width: 100%;
      display: flex;
      justify-content: center; }
      nav .navbar-nav .nav-item.reciclados span {
        text-align: center;
        padding-bottom: .3rem; }

  .home-products {
    padding: 1.5rem 1.5rem; }
    .home-products h4 {
      font-size: 18px; }
    .home-products .owl-home-products .owl-nav .owl-prev,
    .home-products .owl-home-products .owl-nav .owl-next {
      width: 25px;
      height: 25px; }

  .products-title .container h1 {
    margin-top: 7rem; }

  .products-content {
    padding: 2rem; }
    .products-content .products-filter span, .products-content .products-filter a {
      padding: .2rem .8rem;
      margin: 0rem; }
    .products-content .products-filter nav > div a.nav-item.nav-link:hover,
    .products-content .products-filter nav > div a.nav-item.nav-link:focus {
      border: none;
      background: #8fb52b;
      color: #fff;
      transition: all 0.20s linear; }

  .product-title {
    height: 20vh; }

  .product-content {
    padding: 3rem; }
    .product-content .product .features {
      justify-content: center; }
      .product-content .product .features .feature-item {
        font-size: 18px; }
        .product-content .product .features .feature-item img {
          margin-right: 1rem; }
        .product-content .product .features .feature-item {
          padding: 0 1rem; }

  .allies {
    padding: 3rem; }
    .allies p {
      padding-left: 2rem;
      font-size: 26px; } }
@media (max-width: 450px) {
  nav.navbar {
    padding: 1rem; }
  nav .navbar-nav {
    margin-top: 1rem;
    border-top: 1px solid #fff;
    align-items: center; }
    nav .navbar-nav .nav-item .nav-link {
      text-align: right; }
    nav .navbar-nav .nav-item.quote .nav-link {
      border-radius: 5%; }
      nav .navbar-nav .nav-item.quote .nav-link img {
        margin: 0 .5rem; }
      nav .navbar-nav .nav-item.quote .nav-link .quantity {
        text-align: center;
        border-radius: 50%;
        padding: .1rem .5rem;
        background: #fff;
        color: #8fb52b; }
    nav .navbar-nav .nav-item.reciclados {
      border-top: 1px solid #fff;
      width: 100%;
      display: flex;
      justify-content: center; }
      nav .navbar-nav .nav-item.reciclados span {
        text-align: center;
        padding-bottom: .3rem; }

  .owl-carousel .owl-slide .container-fluid {
    padding: 6rem 1rem 8rem 1rem; }
  .owl-carousel .owl-slide-title {
    font-size: 30px;
    margin-bottom: 1rem; }
  .owl-carousel .owl-slide-subtitle {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 1rem; }
  .owl-carousel .owl-slide-cta.is-transitioned {
    transition-delay: 0.5s; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next {
    width: 30px;
    height: 30px; }
  .owl-carousel .owl-nav .owl-prev {
    left: .5rem; }
  .owl-carousel .owl-nav .owl-next {
    right: .5rem; }
  .owl-carousel .btn-novo-one {
    font-size: 16px;
    padding: .25rem 1rem; }

  .home-products {
    padding: 2rem .3rem; }
    .home-products h4 {
      text-align: center; }

  .about-us {
    padding: 0rem; }
    .about-us .container-fluid .row .title {
      padding-top: 8rem; }
      .about-us .container-fluid .row .title .nosotros {
        font-size: 2.8rem; }
      .about-us .container-fluid .row .title .somos {
        font-size: 4.5rem; }
      .about-us .container-fluid .row .title .novo {
        font-size: 5.4rem; }
      .about-us .container-fluid .row .title .eco {
        font-size: 1.5rem;
        line-height: 2.8;
        color: #8fb52b;
        font-weight: 700; }
    .about-us .container-fluid .row .video iframe {
      width: 90%;
      min-height: 300px; }

  .about-description .row-one .col-green, .about-description .row-two .col-green {
    padding: 1rem; }
  .about-description .row-one .col-green .logo-novo {
    margin-top: 3rem;
    margin-bottom: 3rem; }
  .about-description .row-two .col-9 {
    padding-left: 0; }

  .allies {
    background: #efefef;
    padding: 3rem 1rem;
    text-align: center; }
    .allies img {
      width: 200px;
      margin-bottom: 2rem; }
    .allies p {
      padding-left: 0rem;
      font-size: 22px;
      line-height: 28px; }

  .products-title .container h1 {
    font-size: 30px; }

  .products-content .products-filter span, .products-content .products-filter a {
    padding: .4rem; }

  .product-title {
    padding-top: 4rem;
    height: 25vh; }
    .product-title h1 {
      font-size: 30px; }

  .product-content {
    padding: 2rem 0rem; }
    .product-content .description h4 {
      font-size: 35px; }
    .product-content .product .product-img {
      width: 100%; }
    .product-content .product .features {
      justify-content: center; }
      .product-content .product .features .feature-item {
        font-size: 16px; }
        .product-content .product .features .feature-item img {
          width: 30px;
          margin: 1rem 2rem; }
        .product-content .product .features .feature-item {
          padding: 0; }

  .contact {
    padding-top: 3rem;
    padding-bottom: 0rem; }
    .contact .title h2 {
      font-size: 30px;
      margin-bottom: 1rem; }
    .contact .contact-info {
      padding-top: 1rem; }
      .contact .contact-info .contact-data {
        margin-bottom: 2rem; }
        .contact .contact-info .contact-data .contact-title {
          font-size: 24px; }
    .contact .location .location-title {
      margin-bottom: 1rem; }
      .contact .location .location-title img {
        width: 36px; }
      .contact .location .location-title h3 {
        font-size: 26px; }
    .contact .location .location-map .map-styles {
      height: 400px; }

  .footer-separator {
    top: 3px; }

  footer {
    padding-top: 2rem; }
    footer .logo-footer,
    footer .footer-menu,
    footer .social,
    footer .email {
      margin-bottom: 2rem; }
    footer .logo-footer {
      width: 120px; }
    footer .footer-menu a {
      font-size: 14px;
      margin: 0 6px; }
    footer .social a {
      margin: 0rem .4rem; }
      footer .social a img {
        width: 26px; }
    footer .email img {
      width: 26px;
      margin-right: 0;
      margin-bottom: .5rem; }
    footer .eal-copy {
      padding: 1rem 1rem;
      font-weight: 300;
      font-size: 14px; } }

/*# sourceMappingURL=styles.css.map */
